In [396]:
import pandas as pd
import numpy as np
import matplotlib as plt

titanic=pd.read_csv(r"C:\Users\Ryan\Documents\ML PROJECTS\TitanicSurivor\dataset\train.csv")
# titanic = titanic.set_index("PassengerId")
titanic_label=titanic.copy()
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [397]:
titanic=titanic.dropna(subset=["Embarked"])

In [398]:
y_train=titanic["Survived"]

In [399]:
test=pd.read_csv(r"C:\Users\Ryan\Documents\ML PROJECTS\TitanicSurivor\dataset\test.csv")
# test = test.set_index("PassengerId")

test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [400]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          712 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [401]:
corr_matrix = titanic.corr()
corr_matrix["Survived"].sort_values(ascending=False)

C:\Users\Ryan\AppData\Local\Temp\ipykernel_3248\2632321132.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = titanic.corr()

Survived       1.000000
Fare           0.255290
Parch          0.083151
PassengerId   -0.005028
SibSp         -0.034040
Age           -0.082446
Pclass        -0.335549
Name: Survived, dtype: float64

In [402]:
for item in titanic.columns.values:
    print(f"{item}: {titanic[item].isna().sum()}")

PassengerId: 0
Survived: 0
Pclass: 0
Name: 0
Sex: 0
Age: 177
SibSp: 0
Parch: 0
Ticket: 0
Fare: 0
Cabin: 687
Embarked: 0

In [403]:

print(titanic.info())
titanic.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          712 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB
None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [404]:
titanic_test=titanic.copy()
titanic_test["FairByClass"]=titanic_test["Fare"]/titanic_test["Pclass"]
titanic_test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FairByClass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2.683333

In [405]:
corr_matrix = titanic_label.corr()
corr_matrix["Survived"].sort_values(ascending=False)

C:\Users\Ryan\AppData\Local\Temp\ipykernel_3248\1856343748.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = titanic_label.corr()

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [406]:
from sklearn.base import BaseEstimator, TransformerMixin

fare_ix, pclass_ix=4,0
class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        fare_by_class = X[:, fare_ix] / X[:, pclass_ix]
        return np.c_[X,fare_by_class]

In [407]:
from sklearn.base import BaseEstimator, TransformerMixin
columns="Name"
class AttributesDeleter(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X.drop(columns,axis=1)

In [408]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer


num_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("attribs_adder", CombinedAttributesAdder()),
    ("std_scaler", StandardScaler())
])

In [409]:
# str_pipeline = Pipeline([
#     ("del", AttributesDeleter()),
#     ("str", OneHotEncoder())
# ])

In [410]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# num_attribs = titanic.select_dtypes(exclude=["object","bool"]).columns
# encoder_attribs=titanic.select_dtypes(include=["object"]).columns
num_attribs=["Pclass","Age","SibSp","Parch","Fare"]
encoder_attribs=["Ticket","Embarked","Sex"]
full_pipeline = ColumnTransformer(transformers=[
    ("num", num_pipeline, num_attribs),
    ("str", OneHotEncoder(handle_unknown="ignore"), encoder_attribs)],remainder="drop")

In [411]:

titanic_prepared = full_pipeline.fit_transform(titanic)
print(titanic_prepared)

  (0, 0)	0.8252086287077022
  (0, 1)	-0.5636740664747023
  (0, 2)	0.4313502389523841
  (0, 3)	-0.4743258521037861
  (0, 4)	-0.5002397510893574
  (0, 5)	-0.4395088410276293
  (0, 528)	1.0
  (0, 688)	1.0
  (0, 690)	1.0
  (1, 0)	-1.5722112109038908
  (1, 1)	0.6692169576775449
  (1, 2)	0.4313502389523841
  (1, 3)	-0.4743258521037861
  (1, 4)	0.788946607905507
  (1, 5)	0.9053333617531828
  (1, 601)	1.0
  (1, 686)	1.0
  (1, 689)	1.0
  (2, 0)	0.8252086287077022
  (2, 1)	-0.2554513104366405
  (2, 2)	-0.4751990812099552
  (2, 3)	-0.4743258521037861
  (2, 4)	-0.48664993466069395
  (2, 5)	-0.4351149933690533
  (2, 674)	1.0
  :	:
  (886, 2)	0.4313502389523841
  (886, 3)	2.006119339191895
  (886, 4)	-0.1740841568014353
  (886, 5)	-0.3340564972218039
  (886, 680)	1.0
  (886, 688)	1.0
  (886, 689)	1.0
  (887, 0)	-1.5722112109038908
  (887, 1)	-0.2554513104366405
  (887, 2)	-0.4751990812099552
  (887, 3)	-0.4743258521037861
  (887, 4)	-0.0422126047899606
  (887, 5)	0.09914433489410253
  (887, 14)	1.0
  (887, 686)	1.0
  (887, 690)	1.0
  (888, 0)	0.8252086287077022
  (888, 1)	0.20688282362045216
  (888, 2)	-0.4751990812099552
  (888, 3)	-0.4743258521037861
  (888, 4)	-0.49017322040145855
  (888, 5)	-0.4362541390583138
  (888, 471)	1.0
  (888, 687)	1.0
  (888, 690)	1.0

In [412]:
from sklearn.linear_model import SGDClassifier

sgd_clf=SGDClassifier(random_state=42, n_jobs=-1)
sgd_clf.fit(titanic_prepared, y_train)

SGDClassifier(n_jobs=-1, random_state=42)

In [413]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(sgd_clf, titanic_prepared, y_train, cv=10, scoring="accuracy")
score.mean()

0.8121935648621041

In [414]:
from sklearn.model_selection import cross_val_predict
y_train_pred = cross_val_predict(sgd_clf, titanic_prepared, y_train, cv=10)

In [415]:
from sklearn.metrics import precision_score, recall_score
precision_score(y_train, y_train_pred)

0.7661538461538462

In [416]:
recall_score(y_train, y_train_pred)

0.7323529411764705

In [417]:
from sklearn.metrics import f1_score
f1_score(y_train,y_train_pred)

0.7488721804511277

In [418]:
from sklearn.ensemble import RandomForestClassifier

rf_clf=RandomForestClassifier(random_state=42,n_jobs=-1)
rf_clf.fit(titanic_prepared,y_train)

RandomForestClassifier(n_jobs=-1, random_state=42)

In [419]:
score=cross_val_score(rf_clf, titanic_prepared, y_train, cv=10, scoring="accuracy")
score.mean()

0.8346399387129726

In [420]:
y_train_pred = cross_val_predict(rf_clf, titanic_prepared, y_train, cv=10)

In [421]:
precision_score(y_train, y_train_pred)

0.8271186440677966

In [422]:
recall_score(y_train, y_train_pred)

0.7176470588235294

In [423]:
f1_score(y_train,y_train_pred)

0.768503937007874

In [424]:
from sklearn.model_selection import GridSearchCV
param_grid = [
    {'n_estimators': [80,90,100,110,120,130,140,150,160,170,180], 'max_features': [2,4,6,8,10,12]},
    {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]},
  ]
grid_search = GridSearchCV(rf_clf, param_grid, cv=5,verbose=10,n_jobs=-1)
grid_search.fit(titanic_prepared, y_train)

Fitting 5 folds for each of 72 candidates, totalling 360 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(n_jobs=-1, random_state=42),
             n_jobs=-1,
             param_grid=[{'max_features': [2, 4, 6, 8, 10, 12],
                          'n_estimators': [80, 90, 100, 110, 120, 130, 140, 150,
                                           160, 170, 180]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             verbose=10)

In [425]:
grid_search.best_estimator_

RandomForestClassifier(max_features=6, n_estimators=120, n_jobs=-1,
                       random_state=42)

In [426]:
test_prep=full_pipeline.transform(test)

In [427]:
y_pred = grid_search.predict(test_prep)
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [428]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': y_pred})
output.to_csv('my_submission.csv', index=False)
print("Done")

Done

In [429]:
prep_and_pred = Pipeline([
    ('preparation', full_pipeline),
    ('rf_clf', grid_search.best_estimator_)
])

In [430]:
import joblib

joblib.dump(prep_and_pred, "finalModel.pk1")

['finalModel.pk1']